TBD: detail view for {{abos.name}}
<br/>

<style type="text/css">
    .css-form input.ng-invalid.ng-dirty {
    background-color: #FA787E;
    }

    .css-form input.ng-valid.ng-dirty {
    background-color: #78FA89;
    }
</style>

<div>
    <form name="form" novalidate class="css-form">
        <div>
            Name: <input type="text" ng-model="abo.name"/><br/> id: <input
                type="text" ng-model="check.id"/><br/>
        </div>

        <button ng-click="reset()" ng-disabled="isUnchanged(check)">RESET</button>
        <button ng-click="update(check)"
                ng-disabled="form.$invalid || isUnchanged(check)">SAVE
        </button>
    </form>
    <pre>form = {{check | json}}</pre>
    <pre>master = {{master | json}}</pre>
</div>
